* {
	box-sizing: border-box;
    	margin: 0;
    	padding: 0;
    	font-family: sans-serif;
    	scroll-behavior: smooth;
}

html,
body {
    	height: 100%;
    	width: 100%;
    	background-color: #e9e9e9;
}

body {
    	padding-top: 80px;
}

input[type=text] {
	border-radius: 5px;
	border: 2px solid black;
	background-color: #e9e9e9db;
}

/* Navbar */
.navbar__container {
	font-size: 1.2rem;
	background-color: #5fc56c;
	position: fixed;
    	top: 0;
    	width: 100%;
	left: 0;
	right: 0;
	display: flex;
    	justify-content: space-between;
    	height: 80px;
    	z-index: 1;
    	width: 100%;
    	margin: 0 auto;
}

@-moz-document url-prefix() {
    .navbar {
        background: #5fc56c;
    }
}

.navbar__item {
	padding: 20px;
    	height: 80px;
}

.navbar__link {
	background: #5fc56c;
    	color: white;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	width: 125px;
    	text-decoration: none;
    	height: 100%;
}

.navbar__link:hover {
	background: #959494;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}
/* End Navbar */
/* Logo */
.rocket__img {
	background-image: url("img/rockets.jpeg");
	display: flex;
    	flex-direction: column;
    	justify-content: center;
	align-items: center;
	height: 95%;
	width: 90%;
    	padding: 90px 281px;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.logo__container {
	display: flex;
    	flex-direction: column;
    	justify-content: center;
	align-items: center;
	margin: 0px auto;
	height: 80%;
    	text-align: center;
    	padding: 0px 0px;
}
/* End Logo */
/* Signup Page */
.signup__bg {
	background-image: url('img/rockets.jpeg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.signup__container {
	border-radius: 12px;
	background-color: #e9e9e9db;
	display: flex;
    	flex-direction: column;
    	justify-content: center;
	align-items: center;
	margin: 10%;
	margin-left: 25%;
	margin-right: 25%;
    	text-align: center;
    	padding: 20px;
}
/* End Signup */
/* About Page */
.article__container {
	display: flex;
    	flex-direction: column;
	margin: 10%;
    	padding: 5%;
}

.article__container h1{
	text-align: center;
}

.article__description {
	font-size: 10px;
	text-align: center;
	color: white;
	background: black;
}

.article__container h3 {
	background-color: #5fc56c4a;
  	color: black;
}
/* End About Page */
/* Footer */
.footer__container {
	position: fixed;
	background-color: #5fc56c;
	width: 100%;
	height: 50px;
	margin: 0px auto;
	padding: 10px 10px 0px 10px;
	bottom: 0;
}

.footer__container p {
	color: white;
	font-size: 15px;
}
/* End Footer */